<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>
<body>
    <header>
        <div>
            
            <img src="/images/logo-mercado-liebre.svg" alt="">
        </div>
        <div>
            <form action="">
                <input type="text">
                <button>Buscar</button>
            </form>
        </div>
        <p>Compra en cuotas y sin tarjetas de credito</p>

        <ul>
            <a href=""><li>Ofertas</li></a>
            <a href=""><li>Tiendas Oficiales</li></a>
            <a href=""><li>Vender</li></a>
            <a href=""><li>Ayuda</li></a>
            <br>
            <a href=""><li>Creá tu cuenta</li></a>
            <a href=""><li>Ingresá</li></a>
            <a href=""><li>Mis compras</li></a>
        </ul>

    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43" </h4>
            </article>      
        </section>

        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43" </h4>
            </article>
        </section>


    </main>

    <footer>


    </footer>
    
</body>
</html>